:root {
    --darkest: #05000e;
    --light-purple: #422680;
    --medium-purple: #341671;
    --dark-purple: #280659;
    --light-red: #F54952;
    --medium-red: #AE2D88;
    --dark-red: #680f58;

    font-family: 'DM Serif Display', 'Source Serif 4', 'Roboto', sans-serif;
    color: white;

    --header-font-size: min(max(20px, 2.5vw), 30px);
    --gradient: linear-gradient(-45deg, var(--light-red), var(--light-purple));
}

.gradient {
    font-style: italic;
    background: var(--gradient);
    background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* COPY */
body {
    background-color: var(--darkest);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* HEADER */

.header {
    display: flex;
    width: 100vw;
    padding: 1rem;
    gap: 1.5rem;
    justify-content: center;
    font-size: var(--header-font-size);
    position: fixed;
    top: 0;
    font-weight: 600;
    z-index: 1000;
    background-color: rgb(5, 0, 14, 0.5);
}
/*
background: linear-gradient(-45deg, var(--light-red), var(--medium-red), var(--dark-red), var(--light-purple), var(--dark-red), var(--medium-red),  var(--light-red));
background-size: 200% auto;
-webkit-background-clip: border-box;
animation: gradientLoop 10s linear infinite;
@keyframes gradientLoop {
    to {
        background-position: -200% center;
    }
}
*/
.header-link > a {
    display: block;
    appearance: none;
    color: inherit;
    text-decoration: none;
    padding-bottom: 5px;
}
.header-link {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
    color: white;
}
.underline {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 3px;
    transform-origin: 50% 0;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
    background-color: white;
}
.header-link:hover .underline {
    transform: translateX(-50%) scaleX(1); 
    background: var(--gradient);
}
.header-link:hover {
    transform: scale(1.2);
    background: var(--gradient);
    background-clip: text;
    color: transparent;
}

/* STARS */
.star {
    position: absolute;
    z-index: -100;
    box-sizing: border-box;
    width: 4px;
    height: 4px;
    background: white;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: stars 3s linear infinite;
}
.star::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, white, transparent);
    transform: translateY(-50%);
}
@keyframes stars {
    0% {
        transform: rotate(215deg) translateX(0);
        opacity: 00;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(215deg) translateX(-1000px);
        opacity: 0;
    }
}
.star:nth-child(1) {
    top: 30%;
    right: 100%;
    left: initial;
    animation-delay: 0;
    animation-duration: 2s;
}
.star:nth-child(2) {
    top: 0;
    right: 40%;
    left: initial;
    animation-delay: -0.2;
    animation-duration: 3s;
}
.star:nth-child(3) {
    top: 20%;
    right: 50%;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 1.7s;
}
.star:nth-child(4) {
    top: 20%;
    right: 60%;
    left: initial;
    animation-delay: 2s;
    animation-duration: 2.6s;
}
.star:nth-child(5) {
    top: 60%;
    right: 20%;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 3.2s;
}
.star:nth-child(6) {
    top: 0%;
    right: 30%;
    left: initial;
    animation-delay: -0.8;
    animation-duration: 3.5s;
}
.star:nth-child(7) {
    top: 60%;
    right: 40%;
    left: initial;
    animation-delay: -0.2;
    animation-duration: 2.7s;
}
.star:nth-child(8) {
    top: 10%;
    right: 80%;
    left: initial;
    animation-delay: -0.6;
    animation-duration: 2s;
}
.star:nth-child(9) {
    top: 40%;
    right: 80%;
    left: initial;
    animation-delay: 0;
    animation-duration: 2.3s;
}
.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* MAIN */

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-background {
    top: 10vh;
    position: relative;
    animation: strobe 2s infinite alternate;
    font-size: max(5vw, 70px);
    font-family: 'Inter';
    font-style: italic;
    text-align: center;
    color: transparent;
    font-weight: 900;
}

@keyframes strobe {
    0% {
        -webkit-text-stroke: 3px var(--medium-red);
        outline-color: var(--light-red);
    }
    100% {
        -webkit-text-stroke: 3px var(--medium-purple);
        outline-color: var(--light-purple);
    }
}
.github {
    position: relative;
    top: 10vh;
    font-size: 1.5em;
    font-style: italic;
    color: white;
    padding: 10px;
}

.below {
    position: relative;
    width: 100vw;
    display: flex;
    top: 15vh;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: baseline;
    left: 5vw;
    width: max(200px, 30%);
}
.right-side {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 5vw;
}
.subtitle {
    font-size: max(25px, 2vw);
    background: var(--gradient);
    width: fit-content;
}
.coding-skills-text {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.3em;
}
.coding-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill-number {
    text-align: start;
    width: 20px;
    filter: invert(100%);
    object-fit: contain;
}
.coding-skill-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.coding-skill-line {
    height: 0.1em;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    opacity: 50%;
    display: block;
}


/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, transparent, var(--darkest), transparent);
}
.footer-text {
    padding: 10px;
    font-style: italic;
    font-size: 1.3em;
}
.footer-text  a {
    text-decoration: none;
    color: inherit;
}

.other-skills-list {
    padding: 1.6em;;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6em;
}
.other-skill {
    box-sizing: border-box;
    width: fit-content;
    color: white;
    border: 2px solid white;
    padding: 1em;
    border-radius: 50px;
    font-size: 1.2em;
}

.selfie {
    object-fit: contain;
    filter: grayscale(1);
    position: fixed;
    bottom: 0;
    right: 0;
}